<div class="container">
    <div class="row justify-content-around">
        <div class="col-4">
            <div class="row pb-2">
                <img class="img-fluid img-thumbnail rounded" src="{{ book.image_url }}">
            </div>
            <div class="row">
                <p><code>Pages:</code><i>{{book.pages}}</i></p>
                <p><code>Rating: </code> <i>{{ book.rating }}</i></p>
                <p><code>Genre:</code><i>{{book.genres}}</i></p>
            </div>
        </div>
        <div class="col">
            <h3>{{ book.title }}</h3>
            <p>by {{book.authors}}</p>
            <p>
                {{ book.description }}
            </p>
            <p>
                <a href="/review/{{book.title}}">Find Review</a>
            </p>
        </div>
    </div>
    <div class="row">
        <form action="/" method="get">
            <button type="submit">HOME</button>
        </form>
    </div>
</div>