<div class="container">
    <div class="row head">{{reviewData.book_title}}</div>
    <div class="row">by {{reviewData.book_author}}</div>
    <div class="row">Reviewer: {{reviewData.byline}}</div>
    <div class="row">Date: {{reviewData.publication_dt}}</div>
    <div class="row">{{reviewData.summary}}</div>
    <div class="row"><a href="{{reviewData.url}}" target="_blank">Full Review</a></div>
    <div class="row">Copyright</div>
</div>